<section class="post-comments">
  {% if site.comment.disqus %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.min.css">
    <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.1/dist/disqus.min.js"></script>
    <div id="disqus_thread"></div>
    <script>
    // https://github.com/SukkaW/DisqusJS
    var dsqjs = new DisqusJS({
        shortname: '{{ site.comment.disqus }}',
        siteName: '{{ site.title }}',
        api: "https://api.skk.moe/disqus/",
        apikey: '7rR6S5Yd3py9ubI7MV7SVqYadJTOGO4LmpclVulDvIDv48KgDCSAECTqIBpqCjlJ',
        admin: '{{ site.comment.disqus }}'
    });
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
  {% elsif site.comment.valine.id %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/leancloud/javascript-sdk@3.5.0/dist/av-min.min.js"></script>
    <script src='https://cdn.jsdelivr.net/gh/DesertsP/Valine/dist/Valine.min.js'></script>
    <div id="comments" class="comments"></div>
    <script>
      new Valine({
          av: AV,
          el: '.comments',
          emoticon_url: 'https://cdn.jsdelivr.net/gh/missdeer/blog@gh-pages/media/smiles',
          emoticon_list: ["arrow.gif", "biggrin.gif", "confused.gif", "cool.gif", "cry.gif", "eek.gif", "evil.gif", "exclaim.gif", "idea.gif", "lol.gif", "mad.gif", "mrgreen.gif", "neutral.gif", "question.gif", "razz.gif", "redface.gif", "rolleyes.gif", "sad.gif", "smile.gif", "surprised.gif", "twisted.gif", "wink.gif"],
          notify: false,
          verify: false,
          appId: '{{ site.comment.valine.id }}',
          appKey: '{{ site.comment.valine.key }}',
          placeholder: '随便说两句吧~'
      });
    </script>
  {% endif %}
</section>
