---
layout: default
---
<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    <span id="s">{{ content }}</span>
    <p></p>
  </section>
</article>

<script type="text/javascript">
var time = 5; //时间,秒
var i = 0;
function TickCount(){
    document.getElementById('s').innerHTML = "<p>没有这个页面诶，" + (time - i) + "秒后返回<a href=\"https://minidump.info/blog/#blog\">首页</a>看看吧~</p>";
    i++;
}
(function() {
    timer=setInterval('TickCount()', 1000);//显示时间
    timer=setTimeout(function(){
        window.location = "https://minidump.info/blog/#blog";
    },time * 1000); //跳转
})();
</script>
